body {
    margin-left: 20rem;
    margin-top: 2rem;
    margin-right: 20rem;
}

header {
    display: flex;
    gap: 0.7rem;
    align-items: center;
}

.bi-journal-check {
    font-size: 1.8rem;
    text-align: center;
    font-weight: 100%;
}

h3 {
    margin-bottom: 0rem;
}

label {
    font-size: 1.1rem;
}

.bi-x {
    font-size: 1.3rem;
}

.clear-btn {
    display: block;
    width: 100%;
    margin: auto;
}